
<!-- <app-header></app-header>
<router-outlet></router-outlet>
<app-product></app-product>
<app-product-list></app-product-list> -->


<!-- <nav class="navbar navbar-light bg-warning"style="justify-content: center;">
    <a routerLink="products/product">product</a>
    &nbsp;
    <a routerLink="products/product-list">product-list</a>
</nav> -->
<app-header></app-header>
<!-- <app-newstyle></app-newstyle> -->
<router-outlet></router-outlet>
<app-footer></app-footer> 

<!-- <app-register></app-register> -->
<!-- <app-header></app-header> -->
<!-- <router-outlet></router-outlet> -->

