<!-- <div *ngFor="let product of productsData.products"> 
        <p>{{product.category+ ": "+product.price+"$"}}</p> 
    </div>     --> 
    <style> 
      .navbar a { 
          padding-left: 40px; 
          text-decoration: none; 
          font-weight: bold; 
          font-family: cursive; 
      } 
   
      .main { 
          text-align: -webkit-center; 
          margin-top: 100px; 
          text-align: -webkit-center; 
          display: flex; 
          flex-flow: wrap; 
          justify-content: center; 
      } 
  </style> 
  <div> 
   
      <div style="display: flex;  justify-content: center; flex-direction: row; ; flex-wrap: wrap;"> 
          <button class="btn btn-outline-info" (click)=" getalldata()">all product</button> 
          <button class="btn btn-outline-secondary btn-sm" style="border: none;" *ngFor="let prdc of productcat" 
              (click)="category($event)">{{prdc}}</button> 
      </div> 
   
      <div class="main"> 
   
          <!-- <div class="card border-info mb-3" style="width: 18rem;margin: 10px auto;" *ngFor="let product of productsData.products"> --> 
          <div class="card border-info mb-3" style="width: 18rem;margin: 10px auto;border: none; box-shadow: 5px 5px 5px grey;" 
              *ngFor="let product of productalll , index as i"> 
              <!-- <a href="products/product-list"><img src={{product.images[0]}} class="card-img-top" alt="..." ></a> --> 
              <a href="products/product-list"><img src={{product.images[0]}} width="18rem" height="200" 
                      class="card-img-top" alt="..."></a> 
   
              <div class="card-body"> 
                  <h5 class="card-title">{{product.title}}</h5> 
                  <!-- <p class="card-text"> {{product.category}}</p> --> 
                  <p class="card-text"> {{product.price +"L E "}}</p> 
                  <div style="width: 50%; display: flex;flex-direction: row; justify-content: space-between; text-align: center;" 
                      class="d-flex flex-row user-ratings"> 
                      <div class="ratings"> 
                          <i class="fa fa-star"></i> 
                          <i class="fa fa-star"></i> 
                          <i class="fa fa-star"></i> 
                          <i class="fa fa-star"></i> 
                          <i class="fa fa-star"></i> 
                      </div> 
                      <p class="text-muted ml-1">{{product.rating 
                          }}</p> 
                      <!-- <p class="card-text"> {{product.id +"$"}}</p> --> 
                  </div> 
   
                  <div class="card-body" style="display: flex;flex-direction: column;"> 
                      <button class="btn btn-primary" (click)="goToProductDescription(product.id)">show 
                          decription</button> 
                      <button style="margin: 5px; " class="btn btn-warning" (click)='cartlocalstorage(product)' 
                          *ngIf="show!==i" (click)="display(i)">Add to cart </button> 
                      <button 
                          style="color:red ;margin: 5px; border: none; background-color: chocolate; padding: 6px; border-radius: 5px;" 
                          *ngIf="show==i">successfull added </button> 
   
                  </div> 
              </div> 
          </div> 
      </div> 
   
   
   
   
   
   
   
   
   
   
   
   
      <!-- <nav class="navbar  navbar-light bg-warning" style="justify-content: center"> 
              <a routerLink="products/product">product</a> 
              <a routerLink="products/product-list">product-list</a> 
          </nav> -->